
body {
   background-color: bisque;
   font-family: sans-serif;
   max-width: 900px;
   margin: 0 auto;
   padding-top: 40px;
   line-height: 27px;
}

h2 {
   color: tomato;
   text-align: center
}

p,ul {
   color:darkslategrey; 
}

.test {
   color: brown;
   font-size: 20px;
   font-weight: bold;
}

p:last-child {
   background-color: rgba(0, 0, 0, 0.11);
   padding: 10px;
   color: rgb(59, 17, 57);
   font-size: 13px;
}

footer {
   text-align: center;
   color: darkslategray;
   font-weight: bold;
   border-top: 1px solid grey;
   padding: 10px;
   text-transform: uppercase;
   font-size: 13px;
   background: rgba(47, 79, 79, 0.15);
   margin-top: 70px;
}